
<!doctype html>
<html ng-app="generateWordsApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="generateWords.js"></script>
  </head>
  <body>
  	<div ng-controller="GeneratorController as generator">
    <h2>Initials</h2>
      <ul>
        <li ng-repeat="initial in generator.initials">
          <span>{{initial.text}}</span>
        </li>
      </ul>
      <form ng-submit="generator.addInitial()">
        <input type="text" ng-model="generator.initialText"  size="30"
               placeholder="Add new initial">
        <input type="submit" value="Add">
      </form>
      <h2>Medials</h2>
      <ul>
        <li ng-repeat="medial in generator.medials">
          <span>{{medial.text}}</span>
        </li>
      </ul>
      <form ng-submit="generator.addMedial()">
        <input type="text" ng-model="generator.medialText"  size="30"
               placeholder="Add new medial">
        <input type="submit" value="Add">
      </form>
      <h2>Finals</h2>
      <ul>
        <li ng-repeat="final in generator.finals">
          <span>{{final.text}}</span>
        </li>
      </ul>
      <form ng-submit="generator.addFinal()">
        <input type="text" ng-model="generator.finalText"  size="30"
               placeholder="Add new final">
        <input type="submit" value="Add">
      </form>
      <input type="submit" value="Generate" ng-click="generator.generateWords()">
      <h2>Words</h2>
      <ul>
        <li ng-repeat="word in generator.words">
          <span>{{word.text}}</span>
        </li>
      </ul>
    </div>
  </body>
</html>

