@CHARSET "ISO-8859-1";

body {
	background-color: #C3E2D4;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.content {
	border-style: double;
	border-width: 3px;
	border-color: #58A381;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	background-color: #79B89B;
}

.sounds {
	float: left;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}

.options {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

.submit {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}